<!DOCTYPE html>
<html>
<head>
  <title>Volunteer Prediction</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    function ShowHidePrediction() {
        if (document.getElementById('pShowUp').checked) {
            document.getElementById('predictShowup').style.display = 'inline-block';
            document.getElementById('predictActivity').style.display = 'none';
        } else {
            document.getElementById('predictActivity').style.display = 'inline-block';
            document.getElementById('predictShowup').style.display = 'none';
        }
    }
  </script>
</head>
<body >
  <div class="container" >
    <img src="~/../img/bg-img.jpg" alt="Volunteer Prediction" width="100%" height="200px">
        </img>
    
    <br>
    <br>
    <div class="col-md-12" >
        <h3 style="margin-left: 10%; font-weight: bold;">Prediction should be based on: </h3>
    </div>
    <div style="font-size: 20px; " class="form-check">
        <input class="form-check-input" type="radio" onclick="javascript:ShowHidePrediction();" name="prediction" id="pShowUp"><label  class="form-check-label">  Show Up</label>
        <br>
        <input class="form-check-input" type="radio" onclick="javascript:ShowHidePrediction();" name="prediction" id="pActivity"><label class="form-check-label">  Activity</label>
    </div>

    <br>
    <br>

    <div id="predictShowup" style="display: none;">
        <form action="/predict_showup" method="post" enctype="multipart/form-data">
            <div class="col-md-4" style="width: 350px;">
                <input type="file" id="fileToUpload" name="fileToUpload" class="form-control">
            </div>
            <br>
            <div class="col-md-4" style="width: 350px;margin-top: 20px;">
                <button type="submit" class="btn btn-info btn-md" id="btnUploadFile">Upload File and Predict Showup</button>
            </div>
        </form>
    </div>
    <div id="predictActivity" style="display: none;">
        <form action="/predict_activity" method="post" enctype="multipart/form-data">
            <div class="col-md-4" style="width: 350px;">
                <input type="file" id="fileToUploadActivity" name="fileToUploadActivity" class="form-control">
            </div>
            <br>
            <div class="col-md-4" style="width: 350px;margin-top: 20px;">
                <button type="submit" class="btn btn-info btn-md" id="btnUploadFileActivity">Upload File and Predict Activity</button>
            </div>
        </form>
    </div>
    <br/>
</div>
 
</body>
</html>

   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     
